*.o
*~
Makefile
src/dia2code
autom4te.cache
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
.deps
*.in
stamp-h2
aclocal.m4
test-driver
tests/result
tests/result.txt
tests/test-suite.log
tests/tests.sh.log
tests/tests.sh.trs
src/*.gc??
*.swp
out_html
config.guess
config.log
config.status
config.sub
coverage.info
